@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=latin-ext');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $app-bg-color;
  color: $app-color;
}